@import 'constants';

:local {
    .dashboardContainer {
        width: 250px;
        box-sizing: border-box;
        padding: 1em;
        background-color: #eee;


        h4 {
            margin: 0.3em 0;
        }

        p {
            margin: 1em 0;
            padding: 0 10px;
            font-size: 12px;
        }
    }

    .button {
        width: 100%;
        padding: 5px;
        display: block;
        background: #ccc;
        border: none;
        cursor: pointer;
        margin: 3px 0;
    }

    .delayWidget {
        span {
            user-select: none;
            font-weight: bold;
        }

        span + span {
            margin-left: 0.5em;
            cursor: pointer;
        }
    }

    .savedProgram {
        margin-top: 2em;
    }
}