@import 'constants';

:local {
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    $header-width: 50px;
    .node {
        display: flex;
        margin: 0 auto 3px auto;
        max-width: calc(300px +  #{$header-width});
        align-items: stretch;
    }

    .node + .node {
        margin-top: 0.5em;
        padding-top: 0.5em;
        border-top: 1px solid #ccc;
    }

    ._nodeHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $header-width;
        text-align: center;
    }

    .topHeader {
        @extend ._nodeHeader;
        font-weight: bold;
    }

    .nodeHeader {
        @extend ._nodeHeader;
    }

    .active > .nodeHeader {
        background-color: $active-color;
        box-sizing: border-box;
    }

    .nodeRules {
        width: calc(100% - #{$header-width});
        
    }

    .rule {
        display: flex;
        justify-content: space-around;
        
        span {
            width: 25%;
            text-align: center;
        }

        span + span {
            border-left: 1px dashed #ccc;
        }

        select {
            cursor: pointer;
            appearance: none;  
            border: none;
            text-align-last: center;
            width: 100%;
            padding: 3px;
            &:hover {
                font-weight: bold;
            }
        }

        .header {
            font-weight: bold;
        }

        &.active select {
            background-color: $active-color;
        }
    }
}