@import 'constants';

:local {
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    $header-width: 50px;
    .node {
        display: flex;
        margin: 0 auto 3px auto;
        max-width: calc(300px +  #{$header-width});
        align-items: stretch;
    }

    ._nodeHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $header-width;
        text-align: center;
    }

    .topHeader {
        @extend ._nodeHeader;
    }

    .nodeHeader {
        @extend ._nodeHeader;
        background-color: #ccc;
    }

    .nodeRules {
        width: calc(100% - #{$header-width});
        
    }

    .rule {
        display: flex;
        justify-content: space-around;
        padding: 5px 0;
        
        span {
            width: 25%;
            text-align: center;
        }

        select {
            appearance: none;  
            border: none;
            text-align-last: center;
        }

        .header {
            font-weight: bold;
        }
    }
}