@import 'constants';

:local {
    .status {
        text-align: center;
    }
    .tapeContainer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    ._entry {
        width: 20px;
        height: 30px;
        font-size: 26px;
        text-align: center;
        border: none;
        text-shadow: 0 0 black;
        color: transparent;
        box-sizing: border-box;
    }

    .start {
        @extend ._entry;
    }

    .entry {
        @extend ._entry;
        border-bottom: solid $blue 2px;
        cursor: pointer;
        &::selection {
            background-color: none;
        }
    }

    .entryContainer + .entryContainer {
        margin-left: 3px;
    }

    .entryContainer {
        position: relative;    
    }

    .head {
        font-size: 22px;
        position: absolute;
        bottom: -18px;
        left: 0;
    }
    
}